body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.6rem;
  margin:  4%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 300px;
  width: 300px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

  .p{
    color: #FEF2BF;
      font-family: 'Press Start 2P', cursive;
  }

  .btn1 {
    margin: 5px;
    display: inline-block;
    height: 180px;
    width:  400px;
    border: 5px solid black;
    border-radius: 20%;
    font-size: 50px;
  }

   .a{
     margin-left: 200px;
   }

   .button {
     display: block;
     width: 120px;
     height: 30px;
     background: #007bff;
     padding: 10px;
     text-align: center;
     border-radius: 5px;
     color: white;
     font-weight: bold;
     float: right;
 }
 .h{
   font-family: 'Press Start 2P', cursive;
   font-size: 1.9rem;
   margin:  5%;
   color: #FEF2BF;
 }
 /*  footer   */
 footer {
     background-color: #222;
     color: #fff;
     font-size: 14px;
     bottom: 0;
     position: fixed;
     left: 0;
     right: 0;
     text-align: center;
     z-index: 999;
 }
 footer p {
     margin: 10px 0;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida  Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
